/////////////////////////////////////////////////////////////////////////////
// Korean resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
#ifdef _WIN32
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(65001)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN MENU
BEGIN
    POPUP "파일(&F)"
    BEGIN
        MENUITEM "새 파일(&N)\tCtrl+N",           ID_CMD_NEWFILE
        MENUITEM SEPARATOR
        MENUITEM "열기(&O)...\tCtrl+O",            ID_CMD_OPENFILE
        MENUITEM "다시 열기(&R)...\tCtrl+R",          ID_CMD_REOPENFILE
        MENUITEM "새로 고침(&F)\tF5",                ID_CMD_REFRESHFILE
        MENUITEM "관리자 권한으로 열기(&L)...\tCtrl+L",   ID_CMD_OPENELEVATED
        MENUITEM SEPARATOR
        MENUITEM "저장(&S)\tCtrl+S",               ID_CMD_SAVEFILE
        MENUITEM "다른 이름으로 저장(&A)...\tCtrl+Shift+S",   ID_CMD_SAVEFILEAS
        MENUITEM SEPARATOR
        MENUITEM "인쇄(&P)...\tCtrl+P",           ID_CMD_PRINT
        MENUITEM "인쇄 설정(&U)...",               ID_CMD_PAGESETUP
        MENUITEM SEPARATOR
        POPUP "최근 파일(&M)"
        BEGIN
            MENUITEM "(no files)",                  ID_MENUITEM40030, GRAYED
        END
        MENUITEM SEPARATOR
        MENUITEM "저장하고 종료(&I)\tCtrl+E",   ID_CMD_SAVEEXIT
        MENUITEM "저장하지 않고 종료(&D)\tCtrl+Shift+E",   ID_CMD_DISCARDEXIT
        MENUITEM "종료(&X)",                       ID_CMD_EXIT
    END
    POPUP "편집(&E)"
    BEGIN
        MENUITEM "실행 취소(&U)\tCtrl+Z",               ID_CMD_UNDO
        MENUITEM "다시 실행(&R)\tCtrl+Y",               ID_CMD_REDO
        MENUITEM SEPARATOR
        MENUITEM "잘라내기(&X)\tCtrl+X",                ID_CMD_CUT
        MENUITEM "복사(&C)\tCtrl+C",               ID_CMD_COPY
        MENUITEM "붙여넣기(&P)\tCtrl+V",              ID_CMD_PASTE

        MENUITEM "삭제(&D)\tDel",                ID_CMD_DELETE
        MENUITEM SEPARATOR
        MENUITEM "모두 선택(&A)\tCtrl+A",         ID_CMD_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "날짜/시간 삽입(&T)\tF6",      ID_CMD_DATETIME
        MENUITEM "유니코드 삽입(&N)...\tCtrl+I",   ID_CMD_INSERTUNI
        MENUITEM SEPARATOR
        POPUP "변경(&M)"
        BEGIN
            MENUITEM "대문자(&U)\tAlt+U",          ID_CMD_UPPERCASE
            MENUITEM "소문자(&L)\tAlt+L",          ID_CMD_LOWERCASE
            MENUITEM "대소문자 반전(&I)\tAlt+I",         ID_CMD_INVERTCASE
            MENUITEM "ASCII로 변환(&R)\tAlt+R",     ID_CMD_ASCIIFY
            MENUITEM "줄 끝 공백 제거(&T)\tAlt+W",ID_CMD_TTSPACES
            MENUITEM "첫 글자 제거(&F)\tAlt+Z",ID_CMD_SFCHAR
            MENUITEM "마지막 글자 제거(&A)\tAlt+A",ID_CMD_SLCHAR
            MENUITEM "따옴표 추가(&Q)\tAlt+Q",               ID_CMD_QUOTE
            MENUITEM "따옴표 제거(&N)\tAlt+N",             ID_CMD_UNQUOTE
        END
        POPUP "Unic&ode NF"
        BEGIN
            MENUITEM "NF&C (composed)",                  ID_CMD_UNINORMC
            MENUITEM "NF&D (decomposed)",                ID_CMD_UNINORMD
            MENUITEM "NF&KC (compatibility composed)",   ID_CMD_UNINORMKC
            MENUITEM "&NFKD (compatibility decomposed)", ID_CMD_UNINORMKD
        END
      # ifndef NO_IME
        MENUITEM SEPARATOR
        MENUITEM "재변환(&V)",               ID_CMD_RECONV
        MENUITEM "IME 켜기/끄기(&I)",                 ID_CMD_TOGGLEIME
      # endif

    END
    POPUP "찾기(&S)"
    BEGIN
        MENUITEM "찾기 및 바꾸기(&F)\tCtrl+F",               ID_CMD_FIND
        MENUITEM "다음 찾기(&N)\tF3",              ID_CMD_FINDNEXT
        MENUITEM "이전 찾기(&P)\tShift+F3",        ID_CMD_FINDPREV
        MENUITEM SEPARATOR
        MENUITEM "줄로 이동(&J)\tCtrl+J",       ID_CMD_JUMP
        MENUITEM SEPARATOR
        MENUITEM "Grep(&G)...\tCtrl+G",            ID_CMD_GREP
        MENUITEM "선택한 파일 열기(&O)...\tF7",      ID_CMD_OPENSELECTION
    END
    POPUP "보기(&V)"
    BEGIN
        MENUITEM "줄 바꿈 안 함(&N)\tCtrl+1",        ID_CMD_NOWRAP
        MENUITEM "지정된 너비로 줄 바꿈(&W)\tCtrl+2", ID_CMD_WRAPWIDTH
        MENUITEM "창 끝에서 줄 바꿈(&R)\tCtrl+3", ID_CMD_WRAPWINDOW
        MENUITEM SEPARATOR
        MENUITEM "확대/축소 설정(&S)...",                 ID_CMD_ZOOMDLG
        MENUITEM "확대/축소 초기화(&E)",                  ID_CMD_ZOOMRZ
        MENUITEM "확대(&U)",                     ID_CMD_ZOOMUP
        MENUITEM "축소(&W)",                   ID_CMD_ZOOMDN
        MENUITEM SEPARATOR
        POPUP "파일 형식(&T)"
        BEGIN
            MENUITEM "(기본값)",                       ID_MENUITEM40025
        END
        MENUITEM "설정(&S)...",                ID_CMD_CONFIG
        MENUITEM SEPARATOR
        MENUITEM "상태 표시줄(&B)",                  ID_CMD_STATUSBAR
    END
    POPUP "도움말(&H)"
    BEGIN
        MENUITEM "도움말(&C)...\tF1",         ID_CMD_HELP
        MENUITEM "정보(&A)",    ID_CMD_HELPABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
IDD_REOPENDLG DIALOG  0, 0, 187, 54
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_VISIBLE |
    WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
CAPTION "다시 열기"
FONT 9, MYDIALOGFONT
BEGIN
    LTEXT           "문자 인코딩(&C):",IDC_STATIC,9,13,42,8
    COMBOBOX        IDC_CODELIST,59,11,111,103,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "확인",IDOK,66,32,56,14
    PUSHBUTTON      "취소",IDCANCEL,125,32,56,14
END

IDD_JUMP DIALOG  0, 0, 131, 43
STYLE DS_ABSALIGN | DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP |
    WS_CAPTION | WS_SYSMENU
CAPTION "줄로 이동"
FONT 9, MYDIALOGFONT
BEGIN
    DEFPUSHBUTTON   "이동(&G)",IDOK,87,12,25,14
    EDITTEXT        IDC_LINEBOX,14,13,40,12,ES_AUTOHSCROLL
    LTEXT           "줄 번호",IDC_LINLABEL,61,15,22,8
END


IDD_FINDREPLACE DIALOG  0, 0, 316, 84
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP |
    WS_CAPTION | WS_SYSMENU
CAPTION "찾기 및 바꾸기"
FONT 9, MYDIALOGFONT
BEGIN
    LTEXT           "검색 문자열(&T):",IDC_STATIC,5,10,61,8
    COMBOBOX        IDC_FINDBOX,70,9,120,100, CBS_AUTOHSCROLL | CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "바꿀 문자열(&W):",IDC_STATIC,5,31,61,8
    COMBOBOX        IDC_REPLACEBOX,70,28,120,100, CBS_AUTOHSCROLL | CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "다음 찾기(&F)",ID_FINDNEXT,195,8,56,14
    PUSHBUTTON      "이전 찾기(&E)",ID_FINDPREV,255,8,56,14
    PUSHBUTTON      "바꾸기(&R)",ID_REPLACENEXT,195,27,56,14
    PUSHBUTTON      "모두 바꾸기(&A)",ID_REPLACEALL,255,27,56,14
    GROUPBOX        "옵션(&O)",IDC_STATIC,12,47,230,27
    AUTOCHECKBOX    "대소문자 구분 안 함(&I)",IDC_IGNORECASE,22,59,100,10
    AUTOCHECKBOX    "정규식(&X)",IDC_REGEXP,125,59,115,10
    PUSHBUTTON      "닫기",IDCANCEL,255,59,56,14
END


IDD_ABOUTDLG DIALOG  0, 0, 180, 118
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_CENTER | WS_POPUP |
    WS_CAPTION | WS_SYSMENU
CAPTION "정보"
FONT 9, MYDIALOGFONT
BEGIN
    ICON            IDR_MAIN,  IDC_STATIC, 8,8,0,0
    EDITTEXT        IDC_ABOUTSTR, 40,8,135,32, ES_MULTILINE | ES_READONLY | NOT WS_BORDER |  NOT WS_TABSTOP

	LTEXT           "작성자: k.inaba 2002-2008\n파생 수정: roytam1 and RamonUnch\n컴파일: asano@hpe.com", IDC_STATIC,8,50,140,24
	LTEXT           "URL:", IDC_STATIC,8,78,16,8
    EDITTEXT        IDC_ABOUTURL, 30,78,150,8, ES_MULTILINE | ES_READONLY | NOT WS_BORDER |  NOT WS_TABSTOP

    PUSHBUTTON      "닫기",IDCANCEL,70,96,40,14
END


IDD_ADDDOCTYPE DIALOG  0, 0, 123, 67
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "새 파일 형식 추가"
FONT 9, MYDIALOGFONT
BEGIN
    LTEXT           "이름(&N):",IDC_STATIC,17,11,27,8
    EDITTEXT        IDC_NAME,46,8,69,12,ES_AUTOHSCROLL
    LTEXT           "확장명(&E):",IDC_STATIC,10,25,34,8
    EDITTEXT        IDC_EXT,46,24,69,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "확인",IDOK,33,43,34,14
    PUSHBUTTON      "취소",IDCANCEL,71,43,33,14
END

IDD_CONFIG DIALOG DISCARDABLE 0, 0, 287, 236
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "설정"
FONT 9, MYDIALOGFONT
BEGIN
    GROUPBOX        "일반",IDC_STATIC,7,11,273,102
    RTEXT           "실행 취소 제한(&U):",IDC_STATIC,24,24,56,8
    AUTORADIOBUTTON "제한 없음",IDC_UNDOLIM1,86,23,33,10, WS_GROUP
    AUTORADIOBUTTON "",IDC_UNDOLIM2,122,23,11,8
    EDITTEXT        IDC_UNDO_CT,134,21,24,12,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "회",IDC_STATIC,162,24,8,8
    RTEXT           "열 위치 표시(&L):",IDC_STATIC,29,37,51,8
    AUTORADIOBUTTON "문자",IDC_COUNTBYLETTER,86,36,33,10,WS_GROUP
    AUTORADIOBUTTON "위치",IDC_COUNTBYLETTER2,122,36,42,10
    RTEXT           "MRU 파일 수(&H):",IDC_STATIC,19,50,62,8
    EDITTEXT        IDC_LATEST_NUM,86,48,32,12,ES_AUTOHSCROLL | ES_NUMBER
    RTEXT           "텍스트 파일 필터(&F):",IDC_STATIC,21,65,60,8
    EDITTEXT        IDC_TXTFILT,86,63,182,12,ES_AUTOHSCROLL
    RTEXT           "외부 Grep 프로그램(&G):",IDC_STATIC,21,80,60,8
    EDITTEXT        IDC_EXTGREP,86,78,182,12,ES_AUTOHSCROLL
    RTEXT           "새 파일 모드(&N):",IDC_STATIC,9,94,73,8
    COMBOBOX        IDC_NEWCS,86,92,76,162,CBS_DROPDOWNLIST | WS_VSCROLL|WS_TABSTOP
    COMBOBOX        IDC_NEWLB,164,92,39,162,CBS_DROPDOWNLIST | WS_VSCROLL|WS_TABSTOP
    COMBOBOX        IDC_NEWDT,204,92,65,164,CBS_DROPDOWNLIST | WS_VSCROLL|WS_TABSTOP
    AUTOCHECKBOX    "같은 창에서 열기(&R)",IDC_OPENSAME,181,25,90,10
    AUTOCHECKBOX    "창 크기 기억(&S)",IDC_REMSIZE,181,35,96,10
    AUTOCHECKBOX    "창 위치 기억(&P)",IDC_REMPLACE,181,45,94,10
    GROUPBOX        "파일 형식 설정",IDC_STATIC,7,118,274,92
    LISTBOX         IDC_DOCTYPELIST,15,133,88,53,LBS_NOINTEGRALHEIGHT|WS_VSCROLL|WS_TABSTOP
    PUSHBUTTON      "추가",IDC_NEWDOCTYPE,17,191,29,14
    PUSHBUTTON      "제거",IDC_DELDOCTYPE,48,191,29,14
    RTEXT           "패턴:",IDC_STATIC,114,138,27,8
    EDITTEXT        IDC_DT_PAT,146,135,127,12,ES_AUTOHSCROLL
    RTEXT           "키워드:",IDC_STATIC,108,155,34,8
    COMBOBOX        IDC_PAT_KWD,146,152,75,172,CBS_DROPDOWNLIST | CBS_SORT | CBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "편집",IDC_EDITKWD,231,152,19,14
    RTEXT           "레이아웃:",IDC_STATIC,111,172,31,8
    COMBOBOX        IDC_PAT_LAY,146,169,75,172,CBS_DROPDOWNLIST | CBS_SORT | CBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "편집",IDC_EDITLAY,231,169,19,14

    DEFPUSHBUTTON   "확인",IDOK,175,214,50,14
    PUSHBUTTON      "취소",IDCANCEL,230,214,50,14
END



/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_ASKTOSAVE           "현재 파일을 저장하시겠습니까?"
    IDS_APPNAME             "GreenPad"
    IDS_SAVEERROR           "파일 저장 실패"
    IDS_ALLFILES            "모든 파일(*.*)"
    IDS_TXTFILES            "텍스트 파일"
    IDS_OPENERROR           "파일 열기 실패"
    IDS_DEFAULT             "(기본값)"
    IDS_NOTFOUND            "문자열을 찾지 못했습니다"
    IDS_NOTFOUNDDOWN        "문자열을 찾지 못했습니다.\n처음부터 계속 검색하시겠습니까?"
    IDS_REPLACEALLDONE      "%d개 항목이 바뀌었습니다"
    IDS_OKTODEL             "삭제하시겠습니까?"
    IDS_LOADING             "파일 로드 중..."
    IDS_NOWRITEACESS        "\n쓰기 권한 없음!\n\n파일을 수정할 수 있도록 관리자 권한으로 열까요?"
    IDS_ERRORNUM            "\n\n오류 #"
    IDS_CANTOPENDIR         "\n디렉터리를 열 수 없습니다!"
    IDS_INVALIDCP           "잘못된 코드 페이지가 선택되었습니다!"
    IDS_MODIFIEDOUT         "파일이 GreenPad 외부에서 변경되었습니다!\n다시 로드하시겠습니까?"
    IDS_INSERTUNI           "유니코드 삽입"
    IDS_INSSERT             "삽입(&I)"
    IDS_ZOOMPC              "Zoom"
    IDS_UNTITLED            "제목 없음"
    IDS_CHARSET_CAPTION     "문자 인코딩:"
    IDS_CRLF_CAPTION        "줄 끝:"
END

#endif
/////////////////////////////////////////////////////////////////////////////
